[Unit]
Description=A Solution to your Wayland Wallpaper Woes
Documentation=https://github.com/LGFae/swww
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/swww-daemon --no-cache
Restart=always

[Install]
WantedBy=graphical-session.target
