/*
!/.config
/.config/*
!/.config/alacritty
!/.config/fish
/.config/fish/*
!/.config/fish/config.fish
!/.config/fontconfig
!/.config/hypr
/.config/hypr/vivek.png
/.config/hypr/vivek.old
/.config/hypr/settings.conf
/.config/hypr/monitors.conf
/.config/hypr/rules.conf
/.config/hypr/workspaces.conf
!/.config/pacman
!/.config/rofi
!/.config/storeBackup
/.config/storeBackup/*
!/.config/storeBackup/source
/.config/storeBackup/source/*
!/.config/storeBackup/source/.gitkeep
!/.config/storeBackup/storeBackup.example.conf
!/.config/systemd
/.config/systemd/*
!/.config/systemd/user
/.config/systemd/user/*/*
!/.config/systemd/*
!/.config/waybar
!/.config/waypaper
/.config/waypaper/config.ini
!/.config/webapp
/.config/webapp/*
!/.config/webapp/disabled
!/.config/yay
/.config/yay/*
!/.config/yay/chromium.list
!/.local
/.local/*
!/.local/bin
!/.local/sbin
!/.local/docs
!/.local/share
/.local/share/*
!/.local/share/backgrounds
/.local/share/backgrounds/default
!/.local/share/ungoogled-chromium
/.local/share/ungoogled-chromium/*
!/.local/share/ungoogled-chromium/spellingscheck
/.local/share/ungoogled-chromium/spellingscheck*
!/.local/share/ungoogled-chromium/spellingscheck/README.MD
!/.local/share/ungoogled-chromium/spellingscheck/nl-NL-3-0.bdic
!/.local/share/ungoogled-chromium/spellingscheck/en-GB-10-1.bdic
!/.local/share/ungoogled-chromium/spellingscheck/en-US-10-1.bdic
!/.local/share/icons
/.local/share/icons/**/steam_icon_*.png
!/README.md
!/confbak.sh
