[submodule "Graphite-gtk-theme"]
	path = .local/src/Graphite-gtk-theme
	url = https://github.com/vinceliuice/Graphite-gtk-theme.git
[submodule "yay"]
	path = .local/src/yay
	url = https://aur.archlinux.org/yay.git
[submodule ".local/share/oh-my-zsh"]
	path = .local/share/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule ".local/src/fish/kubectl"]
	path = .local/src/fish/kubectl
	url = https://github.com/evanlucas/fish-kubectl-completions
