/*
!/.config
/.config/*
!/.config/alacritty
!/.config/fontconfig
!/.config/hypr
/.config/hypr/settings.conf
/.config/hypr/monitors.conf
/.config/hypr/rules.conf
/.config/hypr/workspaces.conf
!/.config/pacman
!/.config/rofi
!/.config/storeBackup
/.config/storeBackup/*
!/.config/storeBackup/source
/.config/storeBackup/source/*
!/.config/storeBackup/source/.gitkeep
!/.config/storeBackup/storeBackup.example.conf
!/.config/systemd
/.config/systemd/*
!/.config/systemd/user
/.config/systemd/user/*/*
!/.config/systemd/*
!/.config/waybar
!/.config/waypaper
/.config/waypaper/config.ini
!/.config/webapp
/.config/webapp/*
!/.config/webapp/disabled
!/.config/yay
/.config/yay/*
!/.config/yay/chromium.list
!/.local
/.local/*
!/.local/bin
!/.local/docs
!/.local/share
/.local/share/*
!/.local/share/backgrounds
/.local/share/backgrounds/default
!/.local/share/icons
!/README.md
!/confbak.sh
