/*
!/.config
/.config/*
!/.config/fontconfig
!/.config/foot
!/.config/hypr
/.config/hypr/settings.conf
/.config/hypr/monitors.conf
!/.config/rofi
!/.config/waybar
!/.local
/.local/*
!/.local/bin
!/.local/docs
!/.local/share
/.local/share/*
!/.local/share/applications
!/.local/share/backgrounds
/.local/share/backgrounds/default
!/.local/share/icons
!/readme.md
