[Desktop Entry]
Version=1.0
Name=Proton Calendar
URL=https://calendar.proton.me/
Icon=~/.local/share/applications/Links/ProtonCalendar.svg
Type=Link

